// Colors
$primary-color: #4caf50;
$secondary-color: #333;
$bg-color: #f4f4f4;
$text-color: #222;
$btn_hover-color: #45a049;

// Fonts
$primary-font: "Poppins", sans-serif;

// Dimensions
$border-radius: 8px;
$padding: 16px;
$margin: 12px;
